* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #23263a;

}

header {
    background-color: #1f2235;
    border: #1f2235;
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 50px;
}

.navbar {
    padding: 50px;
    
}

.nav-link :hover {
    color: #fd4a57;
}

#logo-img {
    width: 50px;
    margin-right: auto;
    max-width: ;
}

h1,p {
    color: white;
    font-weight: 100;
}

li > a {
    font-weight: 200px;
    font-size: large;
    text-decoration: none;
    color: aliceblue;
}



. {
    margin-left: 120px;
    margin-top: 80px;
    justify-content: space-around;
}

li {
    display: inline;
    padding: 0 20px;
}

#picture {
    position:absolute;
    right: 250px;
    margin-left: 200px;
}


/* button {
    border-radius: 100px;
    border: 5px solid crimson;
    background-color: #1f2235;
} */

.portfolio-button {
    background-color: #1f2235 ;
    color: #fd4a57;
}

.play-button {

    
}

.ion-icon {
    margin-left: 50px;
    font-size: 30px;
    margin-top: 50px;
}


.name-image {
    display: flex;
}


.name-image2 > h1 {
    margin-left: 50px;
    margin-top: 40px;
    font-size: 50px;
}


.name-image2 > p {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 18px;
}


.name-image2 > button {
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 40px;
    width: 100px;
    height: 50px;
}

.name-image2 > button :hover {
    color: #fd4a57;
}

.service-info {
    margin-top: 150px;
    display: grid;
    place-items: center;
}

.service-info > hr {
    width: 80px;
}

.service-info > h4 {
    color: crimson;
}

.service-info > h2 {
    color: white;
    font-size: 30px;
}

.service {
    height: 600px;
    margin-bottom: 70px;
}

.home-section {
    height: 400px;
}

.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
}

.paragraph1 {
    width: 300px;
    text-align: center;
    padding-top: 30px;
    

}

.card {
    margin-left: 80px;
    width: 300px;
    background-color: black;
    margin-top: 50px;
    height: 200px;
    text-align: center;
    gap: 100px;
    border-radius: 10px;
}

.card:hover {
    background-color: #fd4a57;
}

.service-com {
    width: 500px;
}

.my-header {
    color: white;
    padding-top: 10px;
}


        




  